@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", "Segoe UI", system-ui, sans-serif;
  --font-mono: "Consolas", "Courier New", monospace;
  --font-manrope: "Aptos", "Segoe UI", system-ui, sans-serif;
  --font-space-grotesk: "Trebuchet MS", "Segoe UI", system-ui, sans-serif;
  --font-bricolage: "Verdana", "Segoe UI", system-ui, sans-serif;
  --font-instrument-serif: Georgia, "Times New Roman", serif;
}
